<p id="notice"><%= notice %></p>

<h1>Manage Wine.com Data</h1>

<%= button_to "Destroy all",
     { class: 'sk-circle', :controller => :external_products, :action=> :destroy_all},
     { :remote => true, method: :post, :id => 'delete_all' }
 %>

<%= button_to "Fetch More",
     { class: 'sk-circle', :controller => :external_products, :action=> :destroy_all},
     { :remote => true, method: :post, :id => 'fetch_more' }
 %>
<div class="sk-circle" style='display:none;'>
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
  <div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
</div>